<h1>Admin Profile</h1>
<div class="profile-card">
    <p><strong>Email:</strong> <%= profile.email %></p>
    <button  type="submit" class="btn btn-primary" style="position: relative; top: 13px; left: 20px;"><a href="/" style="text-decoration: none; color: #fefefe;">logout</a></button>
</div>

<style>
    .profile-card {
        background: rgba(30, 30, 47, 0.9);
        backdrop-filter: blur(8px);
        padding: 30px;
        border-radius: 15px;
        color: #eaeaea;
        max-width: 400px;
        margin-top: 20px;
    }



</style>