.page {
    height: 100vh;
    width: 100vw;
    background-image: url("lib.jpg");
    background-size: cover;        /* FULL SCREEN */
    background-position: center;   /* CENTER */
    background-repeat: no-repeat;  /* NO TILING */

    display: flex;
    justify-content: center;
    align-items: center;
}
