<nav class="library-navbar">
    <div class="nav-logo">
        <i class="fa-solid fa-book-open"></i>
    </div>

    <div class="nav-title">
        My Digital Library
    </div>
</nav>
<style>

.library-navbar {
    height: 90px;
    background: linear-gradient(135deg, #1e1e2f, #2b2b40);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* LOGO */
.nav-logo {
    position: absolute;
    left: 40px;
    font-size: 40px;   /* medium → big */
    color: #ffb703;
}

/* TITLE */
.nav-title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
}

</style>
